# Byte-compiled / optimized / DLL files
**/__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code project files
**/.vscode

# macOS metadata files
**/.DS_Store

# Data directory in the analytical backend
**/analytical-backend/data/
**/*.tar*