kedro==0.19.9
kedro_viz==11.0.2
linear_tree==0.3.5
mifs==0.0.1.dev0
numpy==2.3.0
pandas==2.3.0
pmdarima==2.0.4
python_dateutil==2.9.0.post0
rpy2==3.5.17
scikit_learn==1.7.0
scipy==1.15.3
shap==0.47.0
statsmodels==0.14.2
typer==0.16.0
